*,*::after,*::before
{
    box-sizing: border-box;
}


:root
{
    --cellsize:100px;
    --marksize:calc( var(--cellsize)*0.9);
}
.p
{    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2cm;
   text-decoration: underline;
   background-image: url("images.jpg");
   font-weight: bold;
  
}

body{
    margin:0;
}

.board
{   
    justify-items: center;
    align-items: center;
    height: 80vh;
    width: 100vh;
   display: grid;
   justify-content: center;
   align-content: center;
   justify-items: center;
   align-items: center;
   background-image: url("images.jpg");
   grid-gap: 0;
    grid-template-columns: repeat(3,auto);
   

}


.cell
{  
   
    width: var(--cellsize);
    height:var(--cellsize);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3)
{
    border-top: none;
}
.cell:nth-child(3n+1)
{
    border-left: none;
}

.cell:nth-child(3n+3)
{
    border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child
{
    border-bottom: none;
}
.cell.x,
.cell.circle
{
  cursor: not-allowed;   
}
.cell.x::before,
.cell.x::after,
.cell.circle::before
{
    background-color: black;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell.cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before
{  
    background-color: lightgrey;

}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after
{  position: absolute;
   content: '';
   width:calc(var(--marksize)*0.15);
   height: var(--marksize);
  
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before
{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after
{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after 
{   content: '';
     position: absolute;
   
    border-radius: 50%;
   
  
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before
{ 
    width:var(--marksize);
    height: var(--marksize);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after
{ 
    width: calc(var(--marksize)* 0.7);
    height: calc(var(--marksize)* 0.7);
background-image: url("images.jpg");

}

.wini
{   
    
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: rgb(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2cm;
    flex-direction: column;
    display: none;
}

.wini button
{
    font-size: 1cm;
    padding: 1px;
    cursor: pointer;
     background-color: white;
    border: 1px solid black;
}
.wini button:hover
{
    color: white;
    background-color: black;
    border:1px solid white ;

}

.wini.show
{
    display: flex;
}