*
{
    box-sizing: border-box;
}


.op
{
   text-align: center;
   margin: 10px;
   margin-bottom: 20px;
   font-size: 3rem;
   background-color: purple;
   color:white;
   
}
.menu
{   min-width: 767px;
    align-items: center;
    display: grid;
    grid-gap: 1rem; 
    
    font-size: 1rem;
 
}
.box
{
    border: 2px solid black;
    
}

.para
{text-align: left;
    width:25%;

   color: white;
  background-color: rgba(50, 185, 50, 0.993);
 font-size: 0.7cm;
  height: 25%;
}
.para2
{
    text-align: left;
    width:25%;

   color: white;
  background-color: yellow;
 font-size: 0.7cm;
  height: 25%;
}

.para1
{text-align: left;
    width:25%;
    
    color: white;
   background-color: red;
  font-size: 0.7cm;
   height: 25%;

}
@media (min-width: 992px)
{   .menu{
   
    grid-template-columns: repeat(3,1fr);
  
    }
}

@media (min-width:768px) and (max-width:991px)
{   .menu
    {
    
    grid-template-columns: repeat(2,2fr);
    }
}

